<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Travel</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>

<body>
    <header>Header</header>

    <section class='pic'>
        <section>
            <h1 class="title"> </h1>
        </section>
        <main class='container'>
            <div></div>
            <section class='teaser'>
                .
            </section>

            <form id='input-form'>
                <label id='input-label' for="destination">Enter a destination</label>
                <input type="text" id="destination" name="destination">
                <label for="start">Enter a start date</label>
                <input type="date" id="tripdate" name="trip-start" value="2020-07-03" min="2020-01-02" max="2033-12-31">

                <button id="submit" onClick="Client.handleClick(event)">Submit</button>
            </form>

            <section class='teaser2'>
            </section>

        </main>

    </section>
    <section class='main-text'>
        <p>No travels due to Covid? No problem.
            <br> With us you can explore locations virtually.</p>
    </section>
    <section class='media' id="results">
    </section>
    <section class='inspire'>
        <p>Browse our favorite destinations below:</p>
    </section>
    <container class='card-holder'>
        <div class='insp-info' id='la'>
            Los Angeles
            <img src='https://cdn.pixabay.com/photo/2016/08/30/11/49/beach-1630458_960_720.jpg')>

        </div>
                <div class='insp-info' id='copenhagen'>
                        Copenhagen
                        <img src='https://cdn.pixabay.com/photo/2018/08/14/20/36/mini-europe-3606552_960_720.jpg')>
                   
                </div>

       
        <div class='insp-info'id='rio'>
                Rio de janeiro
                <img src='https://cdn.pixabay.com/photo/2016/08/30/11/49/beach-1630458_960_720.jpg')>
                    </div>
                    <div class='insp-info'id='rio'>
                            Rio de janeiro
                            <img src='https://cdn.pixabay.com/photo/2016/08/30/11/49/beach-1630458_960_720.jpg')>
                                </div>
    </container>

</body>
<footer>Footer</footer>

</html>