$def-padding:10px;

/* large screen*/
 @media (min-width: 450px){
    .pic{
    flex-wrap: wrap;
    max-height:400px;
    min-height:70vh;
    color: white;
    background-repeat: repeat;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    }
    .title {
    display: flex;
    min-height: 170px;
    //justify-content: space-between;
    flex-direction: row;
    padding: $def-padding;
    }
}


.pic{
    max-height:300px;
    color: white;
    background-repeat: repeat;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
}



.title {
    display: flex;
    //min-height: 170px;
    //justify-content: space-between;
    flex-direction: row;
    padding: $def-padding;

}

.hidden {
    visibility: hidden;
}

.teaser {
    flex:4;
    flex-flow: row wrap;
    min-height: 50vh;
}

.container {
    display: flex;
}

.weather {
    flex:60%;
    color:white;
    min-height: 150px;
    padding:50px;
    font-size:30px;
}

.result-form {
    display:flex;
    flex-direction: column;
    flex:30%;
    padding:30px;

    button{
        border: aqua solid thin;
        border-radius:6px;
        margin: 12px;
        padding: 12px;
        background-color: black;
        color: white;
        flex: 100%;
        max-height:20%;
        min-height: fit-content
    }

    button:hover{
        background-color: aqua;
    }
}

.result-container {
    display: flex;
    background-color: black;
    align-content: center
}

.teaser2 {
    flex:1;
}

.main-text{
    font-size: 20px;
    background-color: black;
    color:white;
    border-bottom-style: solid;
    border-color: white;
    border-width: thin;
    height: auto;
    padding: 20px;
}
.media {
    display: flex;
    background-color: black;
    color:white;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.inspire {
    color:white;
    display: flex;
    background-color: black;
    font-size: 30px;
    padding: 20px;

    
}
.card-holder {
    display: flex;
    flex:2 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: black;
    color:white;
    border-bottom-style: solid;
    border-color: white;
    border-width: thin;
}

.saved {
    background-color: aqua;

    .link{
        text-decoration: underline;
        cursor: pointer;
    }
    .link:hover {
        color:aqua;
        cursor: pointer;
    }
}

.insp-info{
padding-left:10px;
    display: flex;
    flex-direction: column;
    grid-area: auth;
    margin: 10px;
    width: 30%;
    justify-content: space-between;
    
    .insp-element {
        padding:22px;
        align-self: flex-end;
        flex-direction: row;
        color:black;
        background-color: rgba(255,255,255,0.8);
      }
  }
  
  .insp-info img{
    width:100%;
    border-radius:10px;

  }


