.weather {
    color:white;
    padding:20px;
    font-size:20px;
    color:aqua
}
.result-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-content: center;

    button{
        border: aqua solid thin;
        border-radius:6px;
        margin: 12px;
        padding: 12px;
        background-color: black;
        color: white;
        flex: 100%;
        max-height:20%;
        min-height: fit-content
    }

    button:hover{
        background-color: aqua;
    }
}

.result-form {
    display:flex;
    flex-direction: column;
    padding:30px;
}

.results-box{
    align-content: center;
    padding-left:10px;
        display: flex;
        flex-direction: column;
        grid-area: auth;
        margin: 10px;
        max-width: 30%;
        max-height: 25%;
        img{
            width:auto;
            height:auto;
            border-radius:10px;
          }
}   